body {
    background-color: whitesmoke;
}

.container {
    margin-top: 2rem;
}

.card {
    margin-bottom: 1rem;
    box-shadow: 3px 5px 5px -4px rgba(0, 0, 0, 0.25);
}

.card-info-sub {
    margin-right: 1rem;
}

.card-img-top {
    height: 175px;
    width: 307px;
}

div.flash-info {
    width: 400px;
    padding: 7px;
    margin-top: 20px;
    margin-bottom: 20px;
    padding-bottom: 12px;
    background-color: #f0f0f0;
    border: 2px solid green;
}

div.flash-warn {
    width: 400px;
    padding: 7px;
    margin-top: 20px;
    margin-bottom: 20px;
    padding-bottom: 12px;
    background-color: #f0f0f0;
    border: 2px solid orange;

}

div.flash-error {
    width: 400px;
    padding: 7px;
    margin-top: 20px;
    margin-bottom: 20px;
    padding-bottom: 12px;
    background-color: #f0f0f0;
    border: 2px solid red;
}
