body {
    background-color: whitesmoke;
}

form {
    margin-bottom: 2rem;
}

.full_form {
    border: 1px solid rgba(0,0,0,.125)
}

.container {
    margin-top: 2rem;
    margin-bottom: 2rem;
}

.card, .post, .author-panel {
    margin-bottom: 2rem;
    background-color: white;
}

.card-info-sub {
    margin-right: 1rem;
}

.card-img-top {
    height: 175px;
    width: 307px;
}

.post_body {
    text-align: justify;
}

.author-panel {
    min-width: 100px;
}

.author-pic {
    height: 170px;
    width: 180px;
}

.card_cat {
    margin-right: 2rem;
}

.card-text {
    min-height: 72px;
}


div.flash-info {
    width: 400px;
    padding: 7px;
    margin-top: 20px;
    margin-bottom: 20px;
    padding-bottom: 12px;
    background-color: #f0f0f0;
    border: 2px solid green;
}

div.flash-warn {
    width: 400px;
    padding: 7px;
    margin-top: 20px;
    margin-bottom: 20px;
    padding-bottom: 12px;
    background-color: #f0f0f0;
    border: 2px solid orange;

}

div.flash-error {
    width: 400px;
    padding: 7px;
    margin-top: 20px;
    margin-bottom: 20px;
    padding-bottom: 12px;
    background-color: #f0f0f0;
    border: 2px solid red;
}
